<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- SERVLET-DEFINITIONS-START -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUserServlet</servlet-name>
        <servlet-class>ActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTaskServlet</servlet-name>
        <servlet-class>CreateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TasksServlet</servlet-name>
        <servlet-class>Tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTasksServlet</servlet-name>
        <servlet-class>MyTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTaskServlet</servlet-name>
        <servlet-class>EditTask</servlet-class>
    </servlet>
    <!-- SERVLET-DEFINITIONS-END -->

    <!-- SERVLET-MAPPINGS-START -->
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUserServlet</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTaskServlet</servlet-name>
        <url-pattern>/createTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTasksServlet</servlet-name>
        <url-pattern>/myTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskServlet</servlet-name>
        <url-pattern>/editTask</url-pattern>
    </servlet-mapping>
    <!-- SERVLET-MAPPINGS-END -->

    <!-- SERVLET-LISTENERS-START -->
    <listener>
        <listener-class>
            conf.MyServletContextListener
        </listener-class>
    </listener>
    <!-- SERVLET-LISTENERS-END -->
</web-app>
